#calculator {
    width: 200px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    text-align: right;
    padding: 5px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.calc-button {
    width: 25%;
    height: 40px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin: 2px;
}

#calc-equal, #calc-clear {
    width: 100%;
    height: 40px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f1f1f1;
    margin: 2px 0;
}
